body {
    body {
    min-height: 180vh; /* Erhöhe den Wert z. B. auf 130vh oder 150vh */
}

    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f9fa;
    margin: 0;
    padding-bottom: 120px;
    
    /* Hintergrundbild */
    background-image: url('meinbild.jpg'); /* Direkt im gleichen Ordner */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
    

#configurator {
    max-width: 700px; /* Falls notwendig anpassen */
    margin: left; 
    margin-left: 10%; /* Verschiebt den Block weiter nach links */
    text-align: left; /* Falls Text linksbündig sein soll */
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

button {
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid black;
    color: black;
    transition: 0.3s;
}


.person {
    background-color: lightblue; 
 
}

.person.active {
    background-color:#e58108 !important; /* Dunkelorange */
    color: white;
}

.training {
    background-color:lightblue;
    opacity: 0.5;
    pointer-events: background-color lightgray;
    color: black;
}

.training.enabled {
  

    opacity: 1;
    pointer-events: auto;
    color: black;
}

.training.active {
    background-color:#e58108 !important;
    color: white !important;
}

#mitgliedsbeitrag {
    position: fixed;
    bottom: 00px;
    right: 20px;
    background-color: rgb(120, 184, 18);
    color: rgb(0, 0, 0) !important;
    padding: 15px 20px;
    font-size: 25px;
    font-weight: bold;
    border: 2px solid black;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 300px; /* Anpassen je nach Inhalt */
}

#mitgliedsbeitrag div {
    width: 50%; /* Jeweils die Hälfte */
}




.day {
    background-color: lightblue; /* HELLBLAU statt orange */
    color: black;
    transition: 0.3s;
    pointer-events: auto;
    border: 2px solid black;
}

.day.selected {
    background-color: #e58108!important;
    color: white !important; /* Textfarbe auf Weiß setzen */
}

.day.disabled {
    background-color: rgb(246, 204, 113) !important;
    color: gray !important;
    pointer-events: none !important;
}


.duration {
    background-color:lightblue;
 
}
.duration.selected {
    background-color:#e58108 !important;
    
}
